/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build/
/public/assets/
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
# .github/workflows/AI_GUIDELINES.md
# .github/workflows/copilot-instructions.md
# .github/copilot-instructions.md
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
index.html
#.htaccess
.user.ini
.well-known/